
<!-- <button style="border-radius:50%;"><img src="img/pusshButton2.png"></img></button>
 -->
<div class="container background">
<!-- 	<div class="row">
		<div class="col-xs-12" style="border-color: red; border-style: solid;"><p style="font-size: 50px;" class="text-center">Hello there</p>
		</div>
	</div>
	<div class="row">
		<div class="center-block" style="border-color: red; border-style: solid;"><p style="font-size: 50px;" class="text-center">Hello there</p>
		</div>
	</div>
	<img src="img/pusshButton2.png" class="img-responsive center-block"ng-click="click(2)"></img> -->
<!-- 	<div class="row">
		<div class="col-xs-4 centering" style="text-align: center;">
			<a href="javascript:void(0)" ng-click="tab = 2" style="margin: 0px; text-align: center;">
				Home
			</a>
		</div>
		<div class="col-xs-4">
			<a href="javascript:void(0)" ng-click = "tab = 2">Shop</a>		
		</div>
		<div class="col-xs-4">
			<a href="javascript:void(0)" ng-click = "tab = 3">Mine</a>
		</div>
	</div> -->
	<div class="row text-center my-total">
		<span class="my-total">my total</span>
	</div>
	<div class="row text-center">
		<div class="counter" style="font-family: font-family: 'Francois One', sans-serif; font-size: 100px;
  position: relative;
  margin-top: 20px;">
			<span>$ {{counter}}</span>			
		</div>
	</div>
	<div class="row">
		<div style="padding-top: 100px;">
			<a href="javascript:void(0)" class="push-button action-button center-block" ng-click="click(2)">
				<div class="small-circle">
					<div class="smaller-circle">
						<span>pu$$h</span>
					</div>
				</div>
			</a>
		</div>
	</div>

<!-- <ul style="">
	<li ng-class="{active:tab === 1 }">
		<a href ng-click = "tab = 1">Home</a>
	</li>
	<li ng-class="{active:tab === 2 }">
		<a href ng-click = "tab = 2">Shop</a>
	</li>
	<li ng-class="{active:tab === 3 }">
		<a href ng-click = "tab = 3">Mine</a>
	</li>
</ul> -->
</div>



<!-- <img src="img/frontPage22.png" ng-show="tab === 1"></img>
<img src="img/shopPage2.png" ng-show="tab === 2"></img>
<img src="img/minePage3.png" ng-show="tab === 3"></img> -->
