
<!-- <button style="border-radius:50%;"><img src="img/pusshButton2.png"></img></button>
 -->
<div class="container background" style="overflow-y: hidden;">
<!-- 	<div class="row">
		<div class="col-xs-12" style="border-color: red; border-style: solid;"><p style="font-size: 50px;" class="text-center">Hello there</p>
		</div>
	</div>
	<div class="row">
		<div class="center-block" style="border-color: red; border-style: solid;"><p style="font-size: 50px;" class="text-center">Hello there</p>
		</div>
	</div>
	<img src="img/pusshButton2.png" class="img-responsive center-block"ng-click="click(2)"></img> -->
<!-- 	<div class="row">
		<div class="col-xs-4 centering" style="text-align: center;">
			<a href="javascript:void(0)" ng-click="tab = 2" style="margin: 0px; text-align: center;">
				Home
			</a>
		</div>
		<div class="col-xs-4">
			<a href="javascript:void(0)" ng-click = "tab = 2">Shop</a>		
		</div>
		<div class="col-xs-4">
			<a href="javascript:void(0)" ng-click = "tab = 3">Mine</a>
		</div>
	</div> -->
<!-- 	<div class="row text-center my-total">
		<span class="my-total">my total</span>
	</div>
	<div class="row text-center">
		<div class="counter" style="font-family: font-family: 'Francois One', sans-serif; font-size: 100px;
  position: relative;
  margin-top: 20px;">
			<span>$ {{counter}}</span>			
		</div>
	</div> -->
	<div class="row menu-bar">
		<div class="col-xs-4" style="text-align: center; margin-bottom: 20px">
			<span ng-click = "tab = 1" ng-class="{active-menu:tab === 1 }" style="
			margin-right: 0px;
			padding-right: 0px;
			text-align: center;
			text-decoration: none;
		"><a href="javascript:void(0)" class="menu-item">home</a></span>
		</div>
		<div class="col-xs-4">
			<a href="javascript:void(0)" ng-click = "tab = 2" class="menu-item">shop</a>
		</div>
		<div class="col-xs-4">
			<a href="javascript:void(0)" ng-click = "tab = 3" class="menu-item">mine</a>
		</div>
	</div>

<!-- <ul class="menu-bar">
	<li ng-class="{active:tab === 1 }">
		<a href ng-click = "tab = 1">home</a>
	</li>
	<li ng-class="{active:tab === 2 }">
		<a href ng-click = "tab = 2">shop</a>
	</li>
	<li>
		<a href ng-click= "tab = 3">mine</a>
	</li>
</ul> -->
	
	<div class="row text-center">
		<span class="my-total">MY TOTAL</span>
	</div>
	<div class="row text-center" style="margin-bottom: 30px;">
		<span style="
		  font-size: 50px;
		  font-family: 'Francois One', sans-serif;
		  position: relative;
		  margin-top: 20px;
		  line-height: 50px;
		">$ {{counter}}</span>
	</div>

	<div class="row block-center" ng-show="tab === 1">
		<div>
			<a href="javascript:void(0)" class="push-button action-button center-block" ng-click="click(2)">
				<div class="small-circle">
					<div class="smaller-circle">
						<span>pu$$h</span>
					</div>
				</div>
			</a>
		</div>
	</div>
	<div class="row block-center" ng-show="tab === 2">
		<div class="row">
			<div class="col-xs-6">
					<div class="col-xs-4"></div>
					<div class="col-xs-4"></div>
					<div class="col-xs-4">
						<img src="img/flower1.png" style="position: relative;"></img>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="col-xs-4">
						<img src="img/flower2.png" style="width: 90px; height: 90px; position: relative;"></img>
					</div>
					<div class="col-xs-4"></div>
					<div class="col-xs-4"></div>
				</div>	
			</div>
		<div class="row">
			<div class="col-xs-6">
				<div class="col-xs-4"></div>
				<div class="col-xs-4"></div>
				<div class="col-xs-4">
					<img src="img/flower3.png" style="width: 90px; height: 90px; position: relative;"></img>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="col-xs-4">
					<img src="img/flower4.png" style="width: 90px; height: 90px; position: relative;"></img>
				</div>
				<div class="col-xs-4"></div>
				<div class="col-xs-4"></div>
			</div>	
		</div>
	</div>

</div>



<!-- <img src="img/frontPage22.png" ng-show="tab === 1"></img>
<img src="img/shopPage2.png" ng-show="tab === 2"></img>
<img src="img/minePage3.png" ng-show="tab === 3"></img> -->
