
<!-- <button style="border-radius:50%;"><img src="img/pusshButton2.png"></img></button>
 -->
<div class="container background" style="overflow-y: hidden;">
<!-- 	<div class="row">
		<div class="col-xs-12" style="border-color: red; border-style: solid;"><p style="font-size: 50px;" class="text-center">Hello there</p>
		</div>
	</div>
	<div class="row">
		<div class="center-block" style="border-color: red; border-style: solid;"><p style="font-size: 50px;" class="text-center">Hello there</p>
		</div>
	</div>
	<img src="img/pusshButton2.png" class="img-responsive center-block"ng-click="click(2)"></img> -->
<!-- 	<div class="row">
		<div class="col-xs-4 centering" style="text-align: center;">
			<a href="javascript:void(0)" ng-click="tab = 2" style="margin: 0px; text-align: center;">
				Home
			</a>
		</div>
		<div class="col-xs-4">
			<a href="javascript:void(0)" ng-click = "tab = 2">Shop</a>		
		</div>
		<div class="col-xs-4">
			<a href="javascript:void(0)" ng-click = "tab = 3">Mine</a>
		</div>
	</div> -->
<!-- 	<div class="row text-center my-total">
		<span class="my-total">my total</span>
	</div>
	<div class="row text-center">
		<div class="total" style="font-family: font-family: 'Francois One', sans-serif; font-size: 100px;
  position: relative;
  margin-top: 20px;">
			<span>$ {{total}}</span>			
		</div>
	</div> -->

	<div class="row menu-bar" style="margin-top: 20px; margin-bottom: 20px; line-height: 28px;">
		<div class="col-xs-4" style="text-align: center;">
<!-- 			<p ng-click = "tab = 1" ng-class="{active:tab === 1 }" style="
			margin-right: 0px;
			padding-right: 0px;
			text-align: center;
			text-decoration: none;
		"><a href="javascript:void(0)" class="menu-item">home</a></p> -->
			<a href="javascript:void(0)" ng-click="tab = 1" class="menu-item">home</a>
		</div>
		<div class="col-xs-4">
			<a href="javascript:void(0)" ng-click="tab = 2" class="menu-item">shop</a>
		</div>
		<div class="col-xs-4">
			<a href="javascript:void(0)" ng-click="tab = 3" class="menu-item">rank</a>
		</div>
	</div>

<!-- <ul class="menu-bar">
	<li ng-class="{active:tab === 1 }">
		<a href ng-click = "tab = 1">home</a>
	</li>
	<li ng-class="{active:tab === 2 }">
		<a href ng-click = "tab = 2">shop</a>
	</li>
	<li>
		<a href ng-click= "tab = 3">mine</a>
	</li>
</ul> -->

	<div class="row text-center">
		<span class="my-total">MY TOTAL</span>
	</div>
	<div class="row text-center" style="margin-bottom: 10px;">
		<span style="
		  font-size: 50px;
		  font-family: 'Francois One', sans-serif;
		  position: relative;
		  margin-top: 20px;
		  line-height: 50px;
		">$ {{total}}</span>
	</div>
	<div class="row text-center" style="margin-bottom: 25px;">
		<span class="msg">$ {{pushValue}} /push</span>
	</div>
	<div class="row center-block" ng-show="tab === 1">
		<div>
			<a href="javascript:void(0)" class="push-button action-button center-block" ng-click="click(increment+item1.value+item2.value+item3.value+item4.value)">
				<div class="small-circle">
					<div class="smaller-circle">
						<span>pu$$h</span>
					</div>
				</div>
			</a>
		</div>
	</div>
	<div class="row center-block" ng-show="tab === 2">
		<div class="row center-block">
			<div class="col-xs-6 center-block">
				<img src="img/flower1.png" style="position: relative; display: block;"></img>
				<p class="item-desc">+$ 5.00 /push</p>
				<p class="price">$5000</p>
<!-- 				<p ng-show="total - 10 < 0 && items.item1.msg" class="msg">push more!</p>
 -->			<p ng-hide="canBuy(items.item1)" class="msg">PUSH MORE!</p>
				<button class="buy-button" ng-click="check(items.item1)" ng-show="canBuy(items.item1)"><span>BUY</span></button>
<!-- 				<p class="sold" ng-hide="items.item1.sell">SOLD</p>
 --><!-- 							<div style="height: 15px; width: 50px; margin: 0px;"><a href="javascript:void(0)">$ 3,000</a></div> -->
			</div>
			<div class="col-xs-6 center-block">
				<img src="img/flower2.png" style="width: 90px; height: 90px; position: relative; display:block;"></img>
				<p class="item-desc">+$ 3.00 /push</p>
				<p class="price">$2000</p>
				<p ng-hide="canBuy(items.item2)" class="msg">PUSH MORE!</p>
				<button class="buy-button" ng-click="check(items.item2)" ng-show="canBuy(items.item2)"><span>BUY</span></button>
			</div>	
		</div>
		<div class="row center-block">
			<div class="col-xs-6 center-block">
				<img src="img/flower3.png" style="width: 90px; height: 90px; display:block;"></img>
				<p class="item-desc">+$ 4.00 /push</p>
				<p class="price">$1000</p>
				<p ng-hide="canBuy(items.item3)" class="msg">PUSH MORE!</p>
				<button class="buy-button" ng-click="check(items.item3)" ng-show="canBuy(items.item3)"><span>BUY</span></button>
			</div>
			<div class="col-xs-6 center-block">
				<img src="img/flower4.png" style="width: 90px; height: 90px; position: relative; display:block;"></img>
				<p class="item-desc">+$ 2.00 /push</p>
				<p class="price">$200</p>
				<p ng-hide="canBuy(items.item4)" class="msg">PUSH MORE!</p>
				<button class="buy-button" ng-click="check(items.item4)" ng-show="canBuy(items.item4)"><span>BUY</span></button>
			</div>	
		</div>
	</div>
	<div class="row center-block" ng-show="tab === 3">
		<div class="row">
			<p class="text-center ranking-title">Rankings</p>
		</div>
		<div class="row ranking" style="display: block; padding-left: 50px; padding-right: 50px;">
			<p>1. Sarah McKenzie: <strong class="ranking-price"><em>$ 3,324,983</em></strong></p>
			<p>2. Sadruddin Hashmani: <strong class="ranking-price"><em>$ 2,893,231</em></strong></p>
			<p>3. River Wong: <strong class="ranking-price"><em>$ 1,229,576</em></strong></p>
			<p>4. Veronica Kim: <strong class="ranking-price"><em>$ 324,709</em></strong></p>
			<p>5. You: <strong class="ranking-price"><em>$ {{total}}</em></strong></p>
		</div>
		<div class="row center-block">
			<p class="text-center ranking-title" style="color: #455A64;">Keep up!</p>
		</div>
	</div>

</div>
