/* app css stylesheet */

.buy-button {
  margin: 0 auto;
  padding: 0 auto; 
  display: block; 
}
.menu-item {
  color: #3b87c8;
}
.menu-item:hover {
  text-decoration: none;
}

.menu-item:link {
  text-decoration: none;
}

.please-work {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.menu-bar {
  font-family: 'Bevan', cursive;
  font-size: 30px;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.menu-bar a {
  display: block;
  text-align: center;
}
.dont-move {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -350px;
}

.my-total {  
  font-family: 'Bevan', cursive;
  font-size: 30px;
  position: relative;
  margin-top: 100px;
  margin-bottom: 0px;
}
.counter 
{
  font-size: 200px;
  position: relative;
  margin-top: 20px;
}

.small-circle {
  width: 195px;
  height: 195px;
  display: inline-block;
  overflow: hidden;
  background-color: #FFF;
  border-radius: 50%;
  margin: 12.5px;
}

.smaller-circle {
  width: 175px;
  height: 175px;
  display: inline-block;
  overflow: hidden;
  background-color: #FF7043;
  border-radius: 50%;
  margin: 10px; 
  text-align: center;
}
.push-button {
  position: relative;
  width: 220px ;
  height: 235px;
  border-radius: 50%;
  background-color: #F4511E;
  border-bottom: 15px solid #BF360C;
  display: block;
}

.smaller-circle span {
  line-height: 170px;
  color: black;
  font-family: 'CoolveticaRg-Regular';
/*  font-family: 'Francois One', sans-serif;
*/  font-size: 40px;
  text-align: center;
}


.action-button:active
{
  transform: translate(0px,10px);
  -webkit-transform: translate(0px,10px);
  border-bottom-color: #B0BEC5;
}

.background {
  height: 700px;
  width: 400px;
  background-color: #B0BEC5;
  margin: 0 auto;
  padding: 0 auto;
}

* {
  margin: 0 auto;
  padding: 0 auto;
}

div {
  margin: 0 auto;
  padding: 0 auto;  
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

a {
    display: block;
    width: 60px;
    background-color: #dddddd;
}